.ice-cream-choices {
    .choice {
        img {
            margin-bottom: 2rem;
        }
        img, 
        p {
            width: 100%;
            max-width: 300px;
            display: block;
            @include media-breakpoint-down(md) {
                margin-left: auto;
                margin-right: auto;
            }
            
        }
    }
}
