// Fonts

// Colors
$darkBlue: #4A9CFF ;
$blue: #5BA5C6;
$lightBlue: #A2EAFF;
$purple: #BE59D6;
$lightPurple: #BBAEFF;
$red: #FF0062;
$whitel: #ffffff;
$pink: #EF6AC0;
$lightPink: #F9B6D0;

$gradient: linear-gradient(90deg, $lightBlue, $lightPurple);
$snd_gradient: linear-gradient(90deg, $lightPink, $pink);