.hero-area {
    background: url('/assets/images/wave.svg') no-repeat;
	background-size: cover;
    padding: 0;
	padding-bottom: 1rem;
    .signup-col {
        display: block;
	    padding-bottom: 1rem;
        padding-top: 2rem;
        @include media-breakpoint-up(md) {
            padding-top: 5rem;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 15rem;
        }
        h1 {
            margin-bottom: 1.5rem;
        }
        .sign-up-form {
            position: relative;
            input {
                position: absolute;
                width: 100%;
                left: 0;
                border: none;
                border-radius: 30px;
                padding: 0.65rem;
                padding-left: 2rem;
                box-shadow: 0px 3px 15px -3px #ddd;
                z-index: 1;
            }
            
            button {
                position: absolute;
                z-index: 2;
                right: 0;
                top: 50%;
                transform: translate(-0.5rem, 0.3rem);
                border: none;
                border-radius: 30px;
                padding: 0.4rem 0.5rem;
                background: $snd_gradient;
                color: $white;
                font-size: 15px;
                transition: 0.4s ease-in-out;
                @include media-breakpoint-up(md) {
                    width: 10rem;
                }
                @include media-breakpoint-up(lg) {
                    width: 15rem;
                }
                &:hover, 
                &:focus {
                    background: $snd_gradient;
                    cursor: pointer;
                    transition: .4s ease-in-out;
                }
                &::placeholder {
                    color: #ccc;
                }
            }
        }
    }

    .img-col {
        img {
            @include media-breakpoint-up(md) {
                transform: translate(0, -3.5rem);
            }
        }
    }
}