body {
  background-color: $white;
  margin: 0;
  * {
    outline: none;
  }
  // Hiding logo
  .site-branding {
    display:none;
  }
}

.section {
  padding: 6rem 0;
}

img {
  max-width: 100%;
  height: auto;
}